<footer class="mt-12 border-t pt-6 text-sm text-gray-600">
  {{#if unsubscribeText}}
    <p class="mt-4"><strong>{{unsubscribeText}}</strong> 
      <a href="{{unsubscribeUrl}}" class="underline text-orange-600">{{unsubscribeLinkText}}</a>.
    </p>
  {{/if}}
</footer>