<meta charset='utf-8' />
<meta name='viewport' content='width=device-width, initial-scale=1' />
<meta name='format-detection' content='telephone=no,date=no,address=no' />
<meta name='x-apple-disable-message-reformatting' />
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta name='color-scheme' content='light dark' />
<meta name='supported-color-schemes' content='light dark' />
<style>
  :root { color-scheme: light dark; supported-color-schemes: light dark; }
  {{{emailStyles}}}
</style>
<title>{{emailTitle}}</title>