{{!-- Header --}}
{{> header title=title}}

{{!-- Newsletter Content --}}
{{#each sections}}
<div class="email-section">
  {{#if heading}}
  <h2 class="email-subheading">{{heading}}</h2>
  {{/if}}
  <p class="email-body">{{{content}}}</p>
  {{#if link}}
  <p>
    <a href="{{link}}" class="email-link">Read more &rarr;</a>
  </p>
  {{/if}}
</div>
<div class="email-divider"></div>
{{/each}}
