{{!-- Header --}}
{{> header title=title}}

{{!-- Notification Content --}}
<div class="email-section-bordered">
  <p class="email-body">{{{message}}}</p>
  {{#if details}}
  <p class="email-text-alt">{{{details}}}</p>
  {{/if}}
  {{#if timestamp}}
  <p class="email-text-alt" style="font-size: 14px;">
    <em>{{timestamp}}</em>
  </p>
  {{/if}}
</div>