{{!-- Header --}}
{{> header title="You've Been Unsubscribed"}}

{{!-- Unsubscribe Confirmation --}}
<div class="email-section">
  <p class="email-body">Hi {{name}},</p>
  <p class="email-body">You have been successfully unsubscribed from our mailing list.</p>
  {{#if reason}}
  <p class="email-text-alt">Reason: <em>{{reason}}</em></p>
  {{/if}}
</div>

{{!-- Resubscribe Option --}}
{{#if resubscribeUrl}}
<div class="email-box-alt">
  <p class="email-text-alt email-spacing-none">Changed your mind?</p>
  <p style="margin-top: 0.6rem;">
    <a href="{{resubscribeUrl}}" class="email-link">Resubscribe to our newsletter</a>
  </p>
</div>
{{/if}}
