<!DOCTYPE html>
<html lang="{{lang}}" xmlns="http://www.w3.org/1999/xhtml" style="height: 100%;">
  <head>
    {{> head }}
  </head>
  <body style="margin: 0; padding: 0; background-color: #ffffff; height: 100%; min-height: 100vh;">
    <!-- Email wrapper table for better client compatibility -->
    <table role="presentation" cellpadding="0" cellspacing="0" style="width: 100%; height: 100%; min-height: 100vh; margin: 0; padding: 0; background-color: #ffffff;">
      <tr style="height: 100%;">
        <td align="center" style="padding: 0; background-color: #ffffff; height: 100%; min-height: 100vh; vertical-align: top;">
          <!-- Content container -->
          <div class="email-container">
            {{!-- Main Content Slot --}}
            {{{ body }}}
            
            {{!-- Footer --}}
            {{> footer }}
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>