<!DOCTYPE html>
<html lang="{{lang}}" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {{> head }}
  </head>
  <body>
    <!-- Email wrapper table for better client compatibility -->
    <table role="presentation" cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; padding: 0;">
      <tr>
        <td align="center" style="padding: 0;">
          <!-- Content container -->
          <div class="email-container">
            {{!-- Main Content Slot --}}
            {{{ body }}}
            
            {{!-- Footer --}}
            {{> footer }}
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>