<!DOCTYPE html>
<html lang="{{lang}}" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {{> head }}
  </head>
  <body class="bg-white font-sans text-gray-800">
    <!-- Email wrapper table for better client compatibility -->
    <table role="presentation" cellpadding="0" cellspacing="0" class="w-full">
      <tr>
        <td align="center">
          <!-- Content container -->
          <table role="presentation" cellpadding="0" cellspacing="0" class="max-w-600">
            <tr>
              <td class="px-4">
                {{!-- Main Content Slot --}}
                {{{ body }}}
              </td>
            </tr>
            <tr>
              <td class="px-4">
                {{!-- Footer --}}
                {{> footer }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>